/* src/pages/ProductDetail.module.css */
.productDetailContainer {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.productImage {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  display: block;
  border-radius: 8px;
}

.productInfo {
  margin-top: 20px;
}

.productName {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 10px;
}

.productDescription {
  font-size: 1.2em;
  color: #555;
}

.priceTag {
  font-size: 1.5em;
  color: #db4444;
  margin-top: 20px;
}
